@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.sign-in {
    background-color: rgb(96, 59, 131);
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.card1 {
    background-color: #ffffff80;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000080;
    width: 300px;
}

.card2 {
    background-color: #ffffff80;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000080;
    width: 400px; 
}

.h1-signin{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(26, 26, 26);
}

.label-float input {
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid rgb(96, 59, 131);
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
}

.label-float{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.label-float input:focus{
    border-bottom: 2px solid rgb(96, 59, 131);
}

.label-float label{
    color:rgb(96, 59, 131);
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}
.label-float input:focus + label,
.label-float input:valid + label{
    font-size: 13px;
    margin-top: 0;
    color: rgb(96, 59, 131);
}

.button-entrar{
    background-color: transparent;
    border-color: rgb(96, 59, 131);
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    color: rgb(26, 26, 26);
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .3s ease-out;
}

button:hover{
    background-color: rgb(96, 59, 131);
    color: #fff;
}

.justify-center{
    display: flex;
    justify-content: center;
}

hr{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
}

.p-signin{
    color: rgb(96, 59, 131);
    font-size: 14pt;
    text-align: center;
}

.link-signup{
    color: rgb(26, 26, 26);
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease-out;
}

.link-signup:hover{
    color: rgb(0, 0, 0);
}

.fa-eye{
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: #272262;
  }

  #msgError{
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
  }
  
  #msgSuccess{
    text-align: center;
    color: #00bb00;
    background-color: #bbffbe;
    padding: 10px;
    border-radius: 4px;
    display: none;
  }